---

---

<section class='mt-60 text-indigo-950 text-center z-10'>
	<p class='font-bold text-indigo-950 opacity-60'>Company Co. is behind the world's fastest-growing companies</p>
	<div class='flex items-center mt-10 justify-evenly'>
		<img src='images/adidas.svg' width='150' />
		<img src='images/nike.svg' width='150' />
		<img src='images/puma.svg' width='150' />
		<img src='images/under_armour.svg' width='150' />
		<img src='images/adidas.svg' width='150' />
	</div>
</section>
