---

---

<section class='flex items-start mt-44 text-indigo-950'>
	<div class='max-w-[850px] mt-20 relative'>
		<h1 class='font-black text-7xl tracking-tight'>Predictable growth starts here.</h1>
		<h2 class='text-2xl mt-6 font-semibold tracking-tight'>
			Unlock the power of your data with [Your Company Name], where we specialize in turning raw information into actionable insights
			that drive business growth.
		</h2>
		<button class='bg-gradient-to-r from-indigo-700 to-indigo-400 px-6 py-3 rounded-lg shadow-md text-white font-semibold mt-14'
			>Get started</button
		>
		<div class='absolute blurred-shape shape-2 bg-cyan-500'></div>
	</div>
	<div class='mt-auto relative'>
		<div class='mt-auto relative flex-shrink-0 z-10'>
			<img src='./images/skyscraper.png' width='600' class='w-[600px]' />
		</div>
		<div class='absolute blurred-shape shape-1 bg-indigo-700'></div>
	</div>
</section>

<style>
	.blurred-shape {
		width: 600px;
		height: 600px;
		border-radius: 50%;
		filter: blur(150px);
		pointer-events: none;
		z-index: -1;
	}

	.shape-1 {
		top: -90px;
		right: -150px;
		opacity: 0.8;
	}

	.shape-2 {
		width: 1200px;
		height: 1200px;
		top: 90px;
		right: 150px;
		opacity: 0.2;
	}
</style>
