---

---

<section class='mt-44 mx-36 text-indigo-950 flex flex-col items-center'>
	<div class='px-20 pt-16 rounded-lg'>
		<h2 class='text-6xl font-bold text-center centered-underline mx-36'>What our customers think about us</h2>
		<div class='flex justify-around mt-20'>
			<div class='flex flex-shrink-0 items-center justify-center gap-10 w-[400px]'>
				<img src='./images/avatar.png' alt='' width='120' height='120' class='w-[120px] h-[120px] rounded-full shadow-md' />
				<div class='text-xl'>
					<p class='font-bold'>John DoE</p>
					<p class='text-md font-light'>Google CEO</p>
				</div>
			</div>
			<div class='border-r-2'></div>
			<p class='w-[400px] text-lg'>
				"Thrilled with my experience at [Your Financial Company]! Personalized solutions, transparent communication, and expert
				guidance made them my go-to for financial needs. Highly recommended for their unwavering commitment to excellence."
			</p>
		</div>
		<div class='flex justify-around mt-20'>
			<p class='w-[400px] text-lg'>
				"Thrilled with my experience at [Your Financial Company]! Personalized solutions, transparent communication, and expert
				guidance made them my go-to for financial needs. Highly recommended for their unwavering commitment to excellence."
			</p>
			<div class='border-r-2'></div>
			<div class='flex flex-shrink-0 items-center justify-center gap-10 w-[400px]'>
				<img src='./images/avatar.png' alt='' width='120' height='120' class='w-[120px] h-[120px] rounded-full shadow-md' />
				<div class='text-xl'>
					<p class='font-bold'>John DoE</p>
					<p class='text-md font-light'>Google CEO</p>
				</div>
			</div>
		</div>
	</div>
	<button class='bg-gradient-to-b from-indigo-600 to-indigo-900 px-6 py-3 rounded-lg shadow-md text-white font-semibold mt-24 mx-auto'
		>Be one of them</button
	>
</section>

<style>
	.centered-underline::after {
		content: '';
		display: block;
		margin: auto;
		border-radius: 100px;
		margin-top: 15px;
		width: 70px;
		height: 5px;
		background: white;
	}
</style>
