---

---

<section class='mt-60 text-indigo-950'>
	<div class='flex items-center gap-28 justify-center relative'>
		<div class='mt-auto relative flex-shrink-0'>
			<img src='./images/building1.png' width='600' class='w-[600px]' />
		</div>
		<div class='absolute blurred-shape shape-4 bg-indigo-200'></div>
		<div>
			<h1 class='font-black text-6xl tracking-tight title-underline'>Get to work with your customers</h1>
			<h2 class='text-2xl mt-6 font-semibold tracking-tight'>
				Unlock the power of your data with [Your Company Name], where we specialize in turning raw information into actionable
				insights that drive business growth.
			</h2>
			<h2 class='text-2xl mt-6 font-semibold tracking-tight'>
				Turn ideas into real use cases with our team of data scientists and engineers.
			</h2>
			<button class='bg-gradient-to-tr from-indigo-300 to-indigo-900 px-6 py-3 rounded-lg shadow-md text-white font-semibold mt-14'
				>Get started</button
			>
		</div>
	</div>
	<div class='flex items-center mt-36 justify-evenly opacity-40'>
		<img src='images/nike.svg' width='150' />
		<img src='images/under_armour.svg' width='150' />
		<img src='images/adidas.svg' width='150' />
		<img src='images/puma.svg' width='150' />
		<img src='images/under_armour.svg' width='150' />
	</div>
</section>

<section class='mt-60 text-indigo-950'>
	<div class='flex items-center gap-28 justify-center'>
		<div>
			<h1 class='font-black text-6xl tracking-tight'>Discover new horizons on your financial situation</h1>
			<h2 class='text-2xl mt-16 font-semibold tracking-tight'>
				Unlock the power of your data with [Your Company Name], where we specialize in turning raw information into actionable
				insights that drive business growth.
			</h2>
			<h2 class='text-2xl mt-6 font-semibold tracking-tight'>
				Turn ideas into real use cases with our team of data scientists and engineers.
			</h2>
			<button class='bg-gradient-to-tr from-indigo-300 to-indigo-900 px-6 py-3 rounded-lg shadow-md text-white font-semibold mt-14'
				>Get started</button
			>
		</div>
		<div class='mt-auto relative flex-shrink-0'>
			<img src='./images/skyscraper.png' width='600' class='w-[600px]' />
		</div>
	</div>
	<div class='flex items-center mt-36 justify-evenly opacity-40'>
		<img src='images/nike.svg' width='150' />
		<img src='images/under_armour.svg' width='150' />
		<img src='images/adidas.svg' width='150' />
		<img src='images/puma.svg' width='150' />
		<img src='images/under_armour.svg' width='150' />
	</div>
</section>

<style>
	.title-underline::after {
		content: '';
		display: block;
		border-radius: 100px;
		margin-top: 15px;
		width: 100px;
		height: 5px;
		background: linear-gradient(to right, #a5b4fc, #312e81);
	}

	.shape-4 {
		top: 0px;
		left: -150px;
		opacity: 1;
	}
</style>
