---

---

<section class='mt-60 mb-44 text-indigo-950 text-center relative'>
	<h1 class='text-7xl w-[700px] m-auto font-black'>Turn data into better business outcomes.</h1>
	<h2 class='text-2xl mx-60 mt-14'>
		Discover financial excellence with our B2B company. We are dedicated to your success, providing personalized financial solutions,
		transparent communication, and expert guidance.
	</h2>
	<h2 class='text-2xl mt-14 mx-60'>
		Empowering you to navigate your financial journey confidently, we build lasting partnerships based on trust and prosperity. Welcome
		to a world of tailored financial services
	</h2>
	<div class='flex gap-24 justify-center mt-24'>
		<div class='flex flex-col justify-center items-center text-center gap-4'>
			<p class='text-4xl font-black text-indigo-900'>210%</p>
			<p class='mt-2 w-44 text-indigo-900 font-semibold opacity-75'>Increase of customer income</p>
			<img src='images/adidas.svg' width='150' />
		</div>
		<div class='border-r-2'></div>
		<div class='flex flex-col justify-center items-center text-center gap-4'>
			<p class='text-4xl font-black text-indigo-900'>79%</p>
			<p class='mt-2 w-44 text-indigo-900 font-semibold opacity-75'>Increase in clients conversion</p>
			<img src='images/puma.svg' width='150' />
		</div>
		<div class='border-r-2'></div>
		<div class='flex flex-col justify-center items-center text-center gap-4'>
			<p class='text-4xl font-black text-indigo-900'>60%</p>
			<p class='mt-2 w-44 text-indigo-900 font-semibold opacity-75'>Decrease in cost per project</p>
			<img src='images/under_armour.svg' width='150' />
		</div>
	</div>
	<button class='bg-gradient-to-br from-indigo-900 to-indigo-600 text-white px-6 py-3 rounded-lg shadow-md font-semibold mt-14'
		>Explore the platform</button
	>
	<div class='absolute blurred-shape shape-3 bg-indigo-400'></div>
</section>

<style>
	.shape-3 {
		width: 700px;
		height: 700px;
		top: 0px;
		right: -150px;
		opacity: 0.4;
	}
</style>
